In [1]:
import numpy as np
import pandas as pd

### Series 값 변경
- 추가 및 업데이트 : 인덱스를 이용
- 삭제 : `drop` 함수 이용

In [2]:
s = pd.Series(np.arange(100,105), ['a', 'b', 'c', 'd', 'e'])
s

a    100
b    101
c    102
d    103
e    104
dtype: int32

In [3]:
s['a'] = 13
s

a     13
b    101
c    102
d    103
e    104
dtype: int32

In [4]:
s['f'] = 500
s

a     13
b    101
c    102
d    103
e    104
f    500
dtype: int64

In [5]:
s.drop('f')

a     13
b    101
c    102
d    103
e    104
dtype: int64

In [6]:
s

a     13
b    101
c    102
d    103
e    104
f    500
dtype: int64

- inplace=True: 원본 데이터를 변경한다.

In [7]:
s.drop('f', inplace=True)

In [8]:
s

a     13
b    101
c    102
d    103
e    104
dtype: int64

### multiple한 값을 변경

In [9]:
s[['a', 'b']] = [300, 900]
s

a    300
b    900
c    102
d    103
e    104
dtype: int64

### Slicing
- 리스트, ndarray와 동일하게 적용

In [10]:
s1 = pd.Series(np.arange(100, 105))

In [11]:
s1[1:3]

1    101
2    102
dtype: int32

In [12]:
s2 = pd.Series(np.arange(100,105), ['a', 'b', 'c', 'd', 'e'])
s2

a    100
b    101
c    102
d    103
e    104
dtype: int32

In [13]:
s2[1:3]

b    101
c    102
dtype: int32

In [14]:
s2['b':'d'] # 문자열은 마지막 값을 포함한다.

b    101
c    102
d    103
dtype: int32