### DataFrame 생성하기
- 일반적으로 분석을 위한 데이터는 다른 데이터 소스를 통해서 DataFrame을 생성
- dummy 데이터를 생성하는 방법 설명

In [1]:
import pandas as pd

### dictionary로 부터 생성하기
- dict의 key $\rightarrow$ column

In [2]:
data = {'a' : 100, 'b' : 200, 'c' : 300}
pd.DataFrame(data, index=['x', 'y', 'z'])

     a    b    c
x  100  200  300
y  100  200  300
z  100  200  300

In [3]:
data = {'a' : [100, 1, 2], 'b' : [200, 4, 5], 'c' : [300, 10, 12]}
pd.DataFrame(data, index=['x', 'y', 'z'])

     a    b    c
x  100  200  300
y    1    4   10
z    2    5   12

In [4]:
data = {'a' : [100, 1, 2], 'b' : [200, 4, 5], 'c' : [300, 10, 12]}
pd.DataFrame(data, index=[0, 1, 2])

     a    b    c
0  100  200  300
1    1    4   10
2    2    5   12

### Series로 부터 생성하기
- 각 Series의 인덱스 $\rightarrow$ column

In [5]:
a = pd.Series([110, 200, 300], ['a', 'b', 'c'])
b = pd.Series([111, 201, 301], ['a', 'b', 'c'])
c = pd.Series([112, 202, 302], ['a', 'b', 'c'])

pd.DataFrame([a, b, c], index=[100, 101, 102])

       a    b    c
100  110  200  300
101  111  201  301
102  112  202  302