In [1]:
import pandas as pd
import numpy as np

**concat 함수를 사용하여 DataFrame 병합하기**
- pandas.concat 함수
- 축을 따라 DataFrame을 병합 가능
    - 기본 axis = 0 $\rightarrow$ 행단위 병합

column명이 같은 경우

In [9]:
df1 = pd.DataFrame({
    'key1' : np.arange(10),
    'value1' : np.random.randn(10),
})

In [10]:
df2 = pd.DataFrame({
    'key1' : np.arange(10),
    'value1' : np.random.randn(10)
})

In [11]:
df1

   key1    value1
0     0  0.310371
1     1  0.835203
2     2 -1.277893
3     3  0.470892
4     4 -1.882132
5     5  0.592877
6     6  0.566111
7     7 -0.001852
8     8  1.031020
9     9 -0.603239

In [12]:
df2

   key1    value1
0     0 -0.153705
1     1 -1.442714
2     2 -0.680183
3     3 -0.003475
4     4 -0.719995
5     5  0.165008
6     6  2.789359
7     7 -0.542093
8     8  0.196016
9     9  0.073294

In [14]:
pd.concat([df1, df2]) # 행 레벨 병합

   key1    value1
0     0  0.310371
1     1  0.835203
2     2 -1.277893
3     3  0.470892
4     4 -1.882132
5     5  0.592877
6     6  0.566111
7     7 -0.001852
8     8  1.031020
9     9 -0.603239
0     0 -0.153705
1     1 -1.442714
2     2 -0.680183
3     3 -0.003475
4     4 -0.719995
5     5  0.165008
6     6  2.789359
7     7 -0.542093
8     8  0.196016
9     9  0.073294

In [15]:
pd.concat([df1, df2], ignore_index=True) # 인덱스를 새로 생성

    key1    value1
0      0  0.310371
1      1  0.835203
2      2 -1.277893
3      3  0.470892
4      4 -1.882132
5      5  0.592877
6      6  0.566111
7      7 -0.001852
8      8  1.031020
9      9 -0.603239
10     0 -0.153705
11     1 -1.442714
12     2 -0.680183
13     3 -0.003475
14     4 -0.719995
15     5  0.165008
16     6  2.789359
17     7 -0.542093
18     8  0.196016
19     9  0.073294

In [7]:
pd.concat([df1, df2], axis=1) # 열 레벨 병합

   key1  value1  key1  value1
0     0       0     0       0
1     1       1     1       1
2     2       2     2       2
3     3       3     3       3
4     4       4     4       4
5     5       5     5       5
6     6       6     6       6
7     7       7     7       7
8     8       8     8       8
9     9       9     9       9

**column명이 다른 경우**

In [16]:
df3 = pd.DataFrame({
    'key2' : np.arange(10),
    'value2' : np.random.randn(10),
})

In [17]:
pd.concat([df1, df3])

c:\ml\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

   key1  key2    value1    value2
0   0.0   NaN  0.310371       NaN
1   1.0   NaN  0.835203       NaN
2   2.0   NaN -1.277893       NaN
3   3.0   NaN  0.470892       NaN
4   4.0   NaN -1.882132       NaN
5   5.0   NaN  0.592877       NaN
6   6.0   NaN  0.566111       NaN
7   7.0   NaN -0.001852       NaN
8   8.0   NaN  1.031020       NaN
9   9.0   NaN -0.603239       NaN
0   NaN   0.0       NaN  0.255762
1   NaN   1.0       NaN  2.484652
2   NaN   2.0       NaN  1.944229
3   NaN   3.0       NaN  0.870878
4   NaN   4.0       NaN -0.490548
5   NaN   5.0       NaN  0.812075
6   NaN   6.0       NaN -0.021947
7   NaN   7.0       NaN -0.404352
8   NaN   8.0       NaN -0.645914
9   NaN   9.0       NaN  0.989790

In [18]:
pd.concat([df1, df3], axis=1)

   key1    value1  key2    value2
0     0  0.310371     0  0.255762
1     1  0.835203     1  2.484652
2     2 -1.277893     2  1.944229
3     3  0.470892     3  0.870878
4     4 -1.882132     4 -0.490548
5     5  0.592877     5  0.812075
6     6  0.566111     6 -0.021947
7     7 -0.001852     7 -0.404352
8     8  1.031020     8 -0.645914
9     9 -0.603239     9  0.989790